<h1 id="sails-docs-faq">sails-docs/faq</h1>
<p>This section contains the contents that will live on sailsjs.com/faq.</p>
<h3 id="notes" permalink="notes">Notes</h3>
<blockquote>
<ul>
<li>This README file <strong>is not compiled to HTML</strong> for the website.  It is just here to explain what you&apos;re looking at.</li>
</ul>
</blockquote>
