<h1 id="upgrading-to-v1-0">Upgrading to v1.0</h1>
<h3 id="note-" permalink="note">Note:</h3>
<blockquote>
<p>Sails version 1.0 has not officially been released, but a beta version is available for those who want to try out new features or get a head start on the upgrade process. This version is already being used in some production applications, it&apos;s feature-locked, and it&apos;s the final release candidate.  If you&apos;re starting a greenfield project, we recommend taking v1.0 for a spin.</p>
<p>But be aware that, until the new version has been formally released, there may still be a few lingering compatibility problems and less than beautiful error messages.  We&apos;re actively monitoring this release in a handful of large Node.js/Sails deployments to catch any last-minute performance issues.  In the mean time, we recommend that sensitive production applications continue to use the <a href="https://www.npmjs.com/package/sails" target="_blank">latest stable version from NPM</a> for a few more weeks.</p>
</blockquote>
<h3 id="installing-the-1-0-beta" permalink="installing-the-10-beta">Installing the 1.0 beta</h3>
<p>To install the beta globally, run <code>npm install sails@beta -g</code>. To install it for a particular Sails app, <code>cd</code> into that app&apos;s directory, then run <code>npm install sails@beta --save</code>.</p>
<h3 id="migration-guide" permalink="migration-guide">Migration guide</h3>
<p>For more detailed information about upgrading your Sails app to v1.0, see the <a href="https://github.com/balderdashy/sails-docs/blob/1.0/upgrading/To1.0.md" target="_blank">upgrade guide in the 1.0 docs</a>. Just be aware that this migration guide is a work-in-progress, and may have some gaps in information as we continue updating the docs in the coming weeks.</p>
<h3 id="questions-" permalink="questions">Questions?</h3>
<p>If you have specific questions or concerns about how the v1.0 release will affect your app, just <a href="/contact">send us a note</a>.</p>
<p><docmeta name="displayName" value="To v.1.0"></docmeta></p>
<docmeta name="version" value="1.0.0">
</docmeta>