<h1 id="api-models">api/models</h1>
<h3 id="purpose" permalink="purpose">Purpose</h3>
<p>This is the directory that holds your models.  In Sails, models are the structures that contain data for your Sails App.</p>
<p>When you call <code>sails generate api cats</code> via the command line from inside your project&apos;s root directory, Sails will generate the file <code>api/models/Cats.js</code> as well as a matching controller.  In the <code>api/models/Cats.js</code> file you can specify the attributes which determine how the records in your database will be defined.</p>
<docmeta name="displayName" value="models">

</docmeta>