<h1 id="assets">assets</h1>
<h3 id="purpose" permalink="purpose">Purpose</h3>
<p>This is your assets folder.  It houses all of the static files that your app will need to host.  Feel free to create your own files and folders in here.  Upon lifting, a file called <code>assets/newFolder/data.txt</code> could be accessed at <code>http://localhost:1337/newFolder/data.txt</code>.</p>
<docmeta name="displayName" value="assets">

</docmeta>