<h1 id="assets-favicon-ico">assets/favicon.ico</h1>
<h3 id="purpose" permalink="purpose">Purpose</h3>
<p>This file is the <a href="http://en.wikipedia.org/wiki/Favicon" target="_blank">Favicon</a> for your app.</p>
<h3 id="more-info" permalink="more-info">More Info</h3>
<docmeta name="displayName" value="favicon.ico">

</docmeta>