<h1 id="assets-robots-txt">assets/robots.txt</h1>
<h3 id="purpose" permalink="purpose">Purpose</h3>
<p>This file tells search engines and roving packs of robot spiders about whether or not the content in your app should be indexed.</p>
<p>You can read more about robots.txt <a href="http://www.robotstxt.org/robotstxt.html" target="_blank">here</a>, or about how it is parsed by Google <a href="https://support.google.com/webmasters/answer/6062608" target="_blank">here</a>.</p>
<pre><code class="nohighlight"># The robots.txt file is used to control how search engines index your live URLs.
# See http://sailsjs.com/documentation/anatomy/my-app/assets/robots-txt for more information.



# To prevent search engines from seeing the site altogether, uncomment the next two lines:
# User-Agent: *
# Disallow: /
</code></pre><!-- __LANG=%%__ -->
<docmeta name="displayName" value="robots.txt">
</docmeta>