<h1 id="config">config</h1>
<h3 id="purpose" permalink="purpose">Purpose</h3>
<p>This folder contains various files that will allow you to customize and configure your Sails app.</p>
<docmeta name="displayName" value="config">

</docmeta>