<h1 id="config-cors-js">config/cors.js</h1>
<h3 id="purpose" permalink="purpose">Purpose</h3>
<p>This file is the conventional home of your Sails app&apos;s global CORS settings.  For a complete reference of available CORS configuration in Sails, see <a href="/docs/reference/configuration/sails-config-cors">sails.config.cors</a>.  For a conceptual explanation of CORS in Sails, see <a href="/docs/concepts/security/cors">Security &gt; CORS</a>.</p>
<docmeta name="displayName" value="cors.js">
</docmeta>