<h1 id="config-csrf-js">config/csrf.js</h1>
<h3 id="purpose" permalink="purpose">Purpose</h3>
<p>This file defines how your Sails app handles cross-site request forgery attacks and contains settings for configuring Sails&apos; built-in protection.</p>
<h3 id="usage" permalink="usage">Usage</h3>
<p>See <a href="/docs/reference/configuration/sails-config-csrf">sails.config.csrf</a> for a complete reference of all available configuration for protecting your Node.js/Sails app from CSRF attacks.  Or check out <a href="/docs/concepts/security/csrf">Security &gt; CSRF</a> for a conceptual overview of CSRF protection.</p>
<docmeta name="displayName" value="csrf.js">
</docmeta>