<h1 id="config-i18n-js">config/i18n.js</h1>
<h3 id="purpose" permalink="purpose">Purpose</h3>
<p>This file contains your Sails app&apos;s <a href="http://en.wikipedia.org/wiki/Locales" target="_blank">supported locales</a>.</p>
<docmeta name="displayName" value="i18n.js">

<pre><code class="nohighlight">/**
 * Internationalization / Localization Settings
 * (sails.config.i18n)
 *
 * If your app will touch people from all over the world, i18n (or internationalization)
 * may be an important part of your international strategy.
 *
 *
 * For more information, check out:
 * http://sailsjs.com/documentation/reference/configuration/sails-config-i-18-n
 */

module.exports.i18n = {

  // Which locales are supported?
  locales: [&apos;en&apos;, &apos;es&apos;, &apos;fr&apos;, &apos;de&apos;]

};
</code></pre><!-- __LANG=%%__ -->
</docmeta>