<h1 id="config-local-js">config/local.js</h1>
<p>The <code>config/local.js</code> file contains configuration overrides for your local development environment (your laptop, for example).  Any settings you add here take precedence over most other configuration files.  See <a href="/documentation/concepts/configuration/the-local-js-file"><strong>Concepts &gt; Configuration &gt; The local.js file</strong></a> for more information.</p>
<docmeta name="displayName" value="local.js">
</docmeta>