<h1 id="config-models-js">config/models.js</h1>
<docmeta name="displayName" value="models.js">

<pre><code class="nohighlight">/**
 * Default model configuration
 * (sails.config.models)
 *
 * Unless you override them, the following properties will be included
 * in each of your models.
 */

module.exports.models = {

  // Your app&apos;s default connection.
  // i.e. the name of one of your app&apos;s connections (see `config/connections.js`)
  //
  // (defaults to localDiskDb)
  connection: &apos;localDiskDb&apos;
};
</code></pre><!-- __LANG=%%__ -->
</docmeta>