<div class="docs-main-header" is="docs-header">
  <!-- Header -->
  <%- partial ('header.ejs', {currentSection: 'documentation', isFlagshipPage: false })%>
  <div class="nav-container">
    <h2>Documentation</h2>
    <div class="docs-header-nav" is="docs-navigation-container">
      <div class="nav-items">
        <a data-section="reference" href="/documentation/reference">Reference</a>
        <a data-section="concepts" href="/documentation/concepts">Concepts</a>
        <a data-section="anatomy" href="/documentation/anatomy">App structure</a>
        <span class="divider">|</span>
        <a data-section="upgrading" href="/documentation/upgrading/to-v-1-0">Upgrading to v1.0</a>
        <a data-section="contributing" href="/documentation/contributing">Contribution guide</a>
        <span class="divider">|</span>
        <a data-section="tutorials" href="/documentation/tutorials">Tutorials</a>
        <a href="/support">More</a>
      </div>
    </div>
  </div>
</div>
