<div id="footer" class="invisible" data-hide-until-rendered>
  <div class="navigation-footer">
    <div class="row">
      <img class="sails-logo small-screen" src="/images/logo_sails.png">
      <div class="column left-column top">
        <h4>Built with Love</h4>
        <p>The Sails framework is maintained by a <a href="/studio">web &amp; mobile studio in Austin, TX</a>, with the help of our contributors. We created Sails in 2012 to assist us on Node.js projects. Naturally we open-sourced it. We hope it makes your life a little bit easier!</p>
      </div>
      <div class="column right-column top">
        <div class="nav-list left-nav-list">
          <h5>Sails<span class="divider">:</span></h5>
          <ul>
            <li>
              <a href="/whats-that">What is Sails?</a>
            </li>
            <li>
              <a target="_blank" href="https://treeline.io">Treeline IDE</a>
            </li>
            <li class="wide-screen">
              <a href="/documentation/contributing">Contribute</a>
            </li>
            <li>
              <a href="/resources">Logos/artwork</a>
            </li>
          </ul>
        </div>
        <div class="nav-list middle-nav-list">
          <h5>About<span class="divider">:</span></h5>
          <ul>
            <li>
              <a href="/about">The Sails Company</a>
            </li>
            <li>
              <a href="/security">Security</a>
            </li>
            <li>
              <a target="_blank" href="http://blog.sailsjs.com">News</a>
            </li>
            <li>
              <a href="/legal">Legal</a>
            </li>
          </ul>
        </div>
        <div class="nav-list right-nav-list">
          <h5>Help<span class="divider">:</span></h5>
          <ul>
            <li>
              <a href="/get-started">Get started</a>
            </li>
            <li class="wide-screen">
              <a href="/documentation">Documentation</a>
            </li>
            <li class="small-screen">
              <a href="/documentation">Docs</a>
            </li>
            <li>
              <a href="/flagship">Enterprise</a>
            </li>
            <li>
              <a href="/studio">Hire us</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="column left-column">
        <img class="sails-logo wide-screen" src="/images/logo_sails.png">
        <p class="license-info"><a href="/about">&copy; 2012-2017 The Sails Company.&nbsp;</a>
          <br/>
          The Sails framework is free and open-source under the MIT License.
        </p>
      </div>
      <div class="column right-column bottom">
        <div class="social-icons">
          <a target="_blank" href="https://twitter.com/sailsjs">
            <i class="sails-icon icon-social-twitter"></i>
          </a>
          <a target="_blank" href="https://www.facebook.com/sailsjs">
            <i class="sails-icon icon-social-facebook"></i>
          </a>
          <a target="_blank" href="https://github.com/balderdashy/sails">
            <i class="sails-icon icon-social-github"></i>
          </a>
          <a target="_blank" href="https://www.pinterest.com/sailsjs/">
            <i class="sails-icon icon-social-pinterest"></i>
          </a>
          <a target="_blank" href="http://stackoverflow.com/search?q=sails">
            <i class="sails-icon icon-social-stackoverflow"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
