<a class="pencil" href="https://github.com/balderdashy/sails-docs/edit/<%= branchToEdit %>/<%= templatePath.replace(/\.ejs/, '') %>.md" target="_blank">Edit Page <i class="sails-icon icon-pencil"></i></a>
