<h1 id="sails-docs-security">sails-docs/security</h1>
<p>This section contains the official policy for disclosing security vulnerabilities in Sails or our dependencies.  It is made available at <a href="/security-policy">http://sailsjs.com/security-policy</a>.</p>
<h3 id="notes" permalink="notes">Notes</h3>
<blockquote>
<ul>
<li>This README file <strong>is not compiled to HTML</strong> for the website.  It is just here to explain what you&apos;re looking at.</li>
<li>Depending on what branch of <code>sails-docs</code> you are currently viewing, the domain may vary.  Documentation pages in this section may actually be for a past version of Sails (e.g. the <code>0.11</code> branch compiles to <a href="http://0.11.sailsjs.com">http://0.11.sailsjs.com</a>) or for an upcoming release (e.g. the branch for the upcoming release of Sails compiles to <a href="http://next.sailsjs.com">http://next.sailsjs.com</a>).  See the top-level README file in the <code>sails-docs</code> repo for information about working with the markdown files in this repo, and to understand the branching/versioning strategy.</li>
</ul>
</blockquote>
