<h1 id="config-locales-de-json">config/locales/de.json</h1>
<docmeta name="displayName" value="de.json">

<pre><code class="nohighlight">{
  &quot;Welcome&quot;: &quot;Willkommen&quot;
}
</code></pre><!-- __LANG=%%__ -->
</docmeta>