<h1 id="config-locales-en-json">config/locales/en.json</h1>
<docmeta name="displayName" value="en.json">

<pre><code class="nohighlight">{
  &quot;Welcome&quot;: &quot;Welcome&quot;
}
</code></pre><!-- __LANG=%%__ -->
</docmeta>