<h1 id="config-locales-es-json">config/locales/es.json</h1>
<docmeta name="displayName" value="es.json">

<pre><code class="nohighlight">{
  &quot;Welcome&quot;: &quot;Bienvenido&quot;
}
</code></pre><!-- __LANG=%%__ -->
</docmeta>