<h1 id="config-locales-fr-json">config/locales/fr.json</h1>
<h3 id="purpose" permalink="purpose">Purpose</h3>
<p>This tells French browsers sexy things in JSON.</p>
<docmeta name="displayName" value="fr.json">

<pre><code class="nohighlight">{
  &quot;Welcome&quot;: &quot;Bienvenue&quot;
}
</code></pre><!-- __LANG=%%__ -->
</docmeta>