<h1 id="config-locales">config/locales</h1>
<h3 id="purpose" permalink="purpose">Purpose</h3>
<p>This folder contains the information that is used by your app in supporting visiting client&apos;s different <a href="http://en.wikipedia.org/wiki/Locale" target="_blank">locales</a>.</p>
<docmeta name="displayName" value="locales">

</docmeta>