<h1 id="req-options-values-where">req.options.values.where</h1>
<p>Default &#x201C;where&#x201D; criteria for user with blueprint <a href="/documentation/reference/blueprint-api/Find.html"><code>find</code></a> and <a href="/documentation/reference/blueprint-api/Update.html"><code>update</code></a> actions.</p>
<blockquote>
<p>Note: Before using <code>req.options.where</code>, confirm that it exists and create it if necessary.</p>
</blockquote>
<h3 id="example" permalink="example">Example</h3>
<p>To default to finding only records where <code>userId</code> matches the logged-in user&#x2019;s id:</p>
<pre><code class="javascript">// In config/policies/filterByUser.js
module.exports = function filterByUser (req, res, next) {

  if (req.session.user) {

    // Use existing req.options.where, or initialize it to an empty object
    req.options.where = req.options.where || {};

    // Set the default `userId` for &quot;find&quot; and &quot;update&quot; blueprints
    req.options.where.userId = req.session.user.id;

  }

  return next();

}
</code></pre><!-- __LANG=%%__ -->
<p>Then <a href="/documentation/concepts/Policies?q=to-apply-a-policy-to-a-specific-controller-action">apply this policy</a> to the desired blueprint actions.</p>
<docmeta name="displayName" value="req.options.where">
</docmeta>