<h1 id="tasks-register-linkassets-js">tasks/register/linkAssets.js</h1>
<p>This Grunt tasklist is not designed to be used directly-- rather
 it is a helper called by the <code>default</code> tasklist and the <code>watch</code> task
 (but only if the <code>grunt-sails-linker</code> package is in use).</p>
<docmeta name="displayName" value="linkAssets.js">
</docmeta>