<h1 id="tasks-register-">tasks/register/</h1>
<h3 id="purpose" permalink="purpose">Purpose</h3>
<p>This folder contains the Grunt tasks that Sails runs by default.</p>
<p>For more information, see <a href="/documentation/concepts/assets/task-automation#?task-triggers">Assets &gt; Task Automation &gt; Task Triggers</a>.</p>
<blockquote>
<p>To run a custom task list, create a file in this directory and set <a href="/documentation/reference/configuration/sails-config#?sailsconfigenvironment"><code>sails.config.environment</code></a> to match this file name.  For example, if the Sails <code>environment</code> config is set to &quot;qa&quot;, then when you lift, instead of <code>tasks/register/default.js</code> or <code>tasks/register/prod.js</code>, Sails will <em>instead</em> run <code>tasks/register/qa.js</code>. (If it does not exist, then <code>default.js</code> will be run instead.)</p>
</blockquote>
<docmeta name="displayName" value="register">

</docmeta>