<h1 id="tasks-register-syncassets-js">tasks/register/syncAssets.js</h1>
<docmeta name="displayName" value="syncAssets.js">

<pre><code class="nohighlight">module.exports = function (grunt) {
  grunt.registerTask(&apos;syncAssets&apos;, [
    &apos;jst:dev&apos;,
    &apos;less:dev&apos;,
    &apos;sync:dev&apos;,
    &apos;coffee:dev&apos;
  ]);
};
</code></pre><!-- __LANG=%%__ -->
</docmeta>