<h1 id="api">api</h1>
<h3 id="purpose" permalink="purpose">Purpose</h3>
<p>This folder contains the vast majority of your app&apos;s back-end logic.  It is home to the &apos;M&apos; and &apos;C&apos; in <a href="http://en.wikipedia.org/wiki/Model%E2%80%93view%E2%80%93controller" target="_blank">MVC Framework</a>.</p>
<p>In it you will find the following.</p>
<ul>
<li>Controllers: Controllers contain most of the back-end logic for your app.</li>
<li>Models: Models are the structures that contain data for your Sails App.</li>
<li>Policies: Policies are typically used to authenticate clients and restrict access to certain parts of your app.</li>
<li>Responses: Server response logic (404 - Not Found, 500 - Server Error, etc)</li>
<li>Services: Services are similar to controller actions.  They contain logic that used by your app that doesn&apos;t necessarily rely on <code>.req()</code> and <code>.res()</code>.</li>
</ul>
<docmeta name="displayName" value="api">

</docmeta>