<!-- Header -->
<%- partial ('partials/header.ejs', {currentSection: 'security', isFlagshipPage: false })%>

<!-- White bar with github updates & social media -->
<%- partial ('partials/news-banner.ejs') %>

<div id="sails-page_security">
  <div class="page-header">
    <div class="page-header-container">
      <!-- <img src="http://placehold.it/175x175/f8f8f8?text=TBD"/> -->
      <h1>Security Policy</h1>
      <h5>What to do if you find a vulnerability in Sails</h5>
    </div>
  </div>
  <div class="container">
    <hr/>
    <section>
      <%- partial('partials/doc-templates/security/SAILS-SECURITY-POLICY.ejs') %>
    </section>
  </div>
</div>

<!-- Footer -->
<%- partial ('partials/footer.ejs', { isFlagshipPage: false })%>
