<h1 id="tasks-pipeline-js">tasks/pipeline.js</h1>
<h3 id="purpose" permalink="purpose">Purpose</h3>
<p>The <code>pipeline.js</code> file in your Sails app determines the order in which your stylesheets,
JavaScript, and client-side template files should be compiled and linked as <code>&lt;script&gt;</code>
or <code>&lt;link&gt;</code> tags.</p>
<docmeta name="displayName" value="pipeline.js">
</docmeta>