<h1 id="tasks">tasks</h1>
<h3 id="grunt-tasks" permalink="grunt-tasks">Grunt Tasks</h3>
<p>Sails uses <a href="http://gruntjs.com" target="_blank">Grunt</a> for asset management. This file contains configuration information for the GRUNT tasks that Sails for this purpose.</p>
<p>If you created your Sails app with <code>sails new foo --linker</code>, this is also where you can define the location of files that are automatically minified and injected (in order) into the views rendered by your app.</p>
<p>At the top part of this file, you&apos;ll find a few of the most commonly configured options, but Sails&apos; integration with Grunt is also fully customizable.  If you&apos;d like to work with your assets differently  you can change this file to do anything you like!</p>
<h3 id="more-info" permalink="more-info">More Info</h3>
<blockquote>
<p>More information on using Grunt to work with static assets: <a href="http://gruntjs.com/configuring-tasks" target="_blank">http://gruntjs.com/configuring-tasks</a></p>
</blockquote>
<docmeta name="displayName" value="tasks">

</docmeta>