<h1 id="command-line-interface-cli-">Command Line Interface (CLI)</h1>
<h3 id="overview" permalink="overview">Overview</h3>
<p>Sails comes with a convenient command line tool to quickly get your app scaffolded and running.</p>
<p><docmeta name="displayName" value="Command Line Interface"></docmeta></p>
<docmeta name="stabilityIndex" value="3">

</docmeta>