<h1 id="sails-version">sails version</h1>
<p>Get the version of your computer&apos;s <em>globally</em> installed Sails command-line tool (i.e. the version you installed with <code>npm install -g sails</code>).</p>
<h3 id="example" permalink="example">Example</h3>
<pre><code class="bash">$ sails version
0.12.0
</code></pre><!-- __LANG=%%__ -->
<h3 id="notes" permalink="notes">Notes</h3>
<blockquote>
<ul>
<li>Different Sails apps can have different local Sails installs at different versions, since each project encapsulates its dependencies in its <code>node_modules/</code> folder.  To get the <em>locally</em> installed version of Sails from within a particular project, run <code>npm ls sails</code>.</li>
</ul>
</blockquote>
<p><docmeta name="displayName" value="sails version"></docmeta></p>
<docmeta name="pageType" value="command">

</docmeta>