<h1 id="assets-js">assets/js</h1>
<h3 id="purpose" permalink="purpose">Purpose</h3>
<p>This is where you put client-side javascript files that you want to be statically hosted by your app.  Sails puts a few in there for making communication via socket.io easier.</p>
<docmeta name="displayName" value="js">

</docmeta>