<h1 id="contributing-to-sails">Contributing to Sails</h1>
<table>
<thead>
<tr>
<th><strong>Contents</strong></th>
</tr>
</thead>
<tbody>
<tr>
<td><a href="/contributing/preface.md">Preface</a></td>
</tr>
<tr>
<td>I. <a href="/contributing/code-of-conduct.md">Code of Conduct</a></td>
</tr>
<tr>
<td>II. <a href="/contributing/issue-contributions.md">Issue Contributions</a></td>
</tr>
<tr>
<td>III. <a href="/contributing/contributing-to-the-documentation.md">Contributing to the Documentation</a></td>
</tr>
<tr>
<td>IV. <a href="/contributing/code-submission-guidelines/writing-tests.md">Writing Tests</a></td>
</tr>
<tr>
<td>V. <a href="/contributing/proposing-features">Proposing Features and Enhancements</a></td>
</tr>
<tr>
<td>VI. <a href="contributing/code-submission-guidelines/code-submission-guidelines.md">Code Submission Guidelines</a></td>
</tr>
<tr>
<td>VII. <a href="/contributing/code-submission-guidelines/best-practices.md">Best Practices</a></td>
</tr>
<tr>
<td>VIII. <a href="/contributing/core-maintainers.md">Core Maintainers</a></td>
</tr>
<tr>
<td>IX. <a href="/contributing/contributors-pledge.md">Contributor&apos;s Pledge</a></td>
</tr>
</tbody>
</table>
<docmeta name="notShownOnWebsite" value="true"></docmeta>
