<h1 id="default-responses">Default responses</h1>
<p>The following responses are bundled with all new Sails apps inside the <code>/api/responses</code> folder.  Each one sends a normalized JSON object if the client is expecting JSON, containing a <code>status</code> key with the HTTP status code, and additional keys with relevant information about any errors.</p>
<h4 id="res-ok-" permalink="resok()">res.ok()</h4>
<p>This method is used to send a 200 (&quot;Ok&quot;) response back down to the client indicating that everything worked out a-okay. &#xF44D; See the <a href="/documentation/reference/response-res/res-ok"><code>res.ok()</code> reference page</a> for usage info.</p>
<h4 id="res-servererror-" permalink="resservererror()">res.serverError()</h4>
<p>This method is used to send a 500 (&quot;Server Error&quot;) response back down to the client indicating that some kind of server error occurred. &#xF4A3; See the <a href="/documentation/reference/response-res/res-server-error"><code>res.serverError()</code> reference page</a> for usage info.</p>
<h4 id="res-badrequest-" permalink="resbadrequest()">res.badRequest()</h4>
<p>This method is used to send a 400 (&quot;Bad Request&quot;) response back down to the client indicating that the request is invalid. &#xF44E; See the <a href="/documentation/reference/response-res/res-bad-request"><code>res.badRequest()</code> reference page</a> for usage info.</p>
<h4 id="res-notfound-" permalink="resnotfound()">res.notFound()</h4>
<p>This method is used to send a 404 (&quot;Not Found&quot;) response back down to the client indicating that the requested URL doesn&#x2019;t match any routes in the app. &#xF494; See the <a href="/documentation/reference/response-res/res-not-found"><code>res.notFound()</code> reference page</a> for usage info.</p>
<h4 id="res-forbidden-" permalink="resforbidden()">res.forbidden()</h4>
<p>This method is used to send a 403 (&quot;Forbidden&quot;) response back down to the client indicating that the request is not allowed. &#xF6AB; See the <a href="/documentation/reference/response-res/res-forbidden"><code>res.forbidden()</code> reference page</a> for usage info.</p>
<h4 id="res-created-" permalink="rescreated()">res.created()</h4>
<p>This method is used to send a 201 (&quot;Created&quot;) response back down to the client indicating that one or more new resources have been created. See the <a href="/documentation/reference/response-res/res-created"><code>res.created()</code> reference page</a> for usage info.</p>
<docmeta name="displayName" value="Default Responses">
</docmeta>