<h1 id="api-policies">api/policies</h1>
<h3 id="purpose" permalink="purpose">Purpose</h3>
<p>This is the folder you will store your <code>policy</code> files in.  A policy file is a .js file that contains what is essentially express middleware for authenticating access to controller actions in your app.</p>
<p>If you want to make sure only the user <code>rick1983</code> can access <code>http://prism.gov/rick1983</code> , this is the folder you would put that logic in.</p>
<docmeta name="displayName" value="policies">

</docmeta>