<h1 id="tasks-config-clean-js">tasks/config/clean.js</h1>
<h3 id="purpose" permalink="purpose">Purpose</h3>
<p>This file configures a Grunt task called &quot;clean&quot;.</p>
<p>This task is used when preparing for a new pass through the asset pipeline. Its job is to remove any existing temporary files and folders in your Sails app&apos;s web root.</p>
<blockquote>
<p>(By default, the <a href="/documentation/concepts/assets">web root in a Sails app</a> is a hidden directory called <code>.tmp/public</code>.)</p>
</blockquote>
<h3 id="usage" permalink="usage">Usage</h3>
<p>For additional usage documentation, see <a href="https://npmjs.com/package/grunt-contrib-clean" target="_blank"><code>grunt-contrib-clean</code></a>.</p>
<docmeta name="displayName" value="clean.js">
</docmeta>