<h1 id="tasks-config-concat-js">tasks/config/concat.js</h1>
<h3 id="purpose" permalink="purpose">Purpose</h3>
<p>This file configures a Grunt task called &quot;concat&quot;.</p>
<p>Concatenates the contents of multiple JavaScript and/or CSS files into two new files, each located at <code>concat/production.js</code> and <code>concat/production.css</code> respectively in <code>.tmp/public/concat</code>.</p>
<p>This is used as an intermediate step to generate monolithic files that can then be passed in to <code>uglify</code> and/or <code>cssmin</code> for <a href="https://en.wikipedia.org/wiki/Minification_(programming" target="_blank">minification</a>).</p>
<h3 id="usage" permalink="usage">Usage</h3>
<p>For additional usage documentation, see <a href="https://npmjs.com/package/grunt-contrib-concat" target="_blank"><code>grunt-contrib-concat</code></a>.</p>
<docmeta name="displayName" value="concat.js">
</docmeta>