<h1 id="tasks-config-">tasks/config/</h1>
<h3 id="purpose" permalink="purpose">Purpose</h3>
<p>This folder contains the default Grunt task configuration used by the main entry points in <a href="/anatomy/tasks/register"><code>tasks/register/</code></a>.</p>
<p>For more about the files in this folder, see <a href="/documentation/concepts/assets/default-tasks">Assets &gt; Default Tasks</a>.</p>
<docmeta name="displayName" value="config">

</docmeta>