<h1 id="tasks-config-copy-js">tasks/config/copy.js</h1>
<h3 id="purpose" permalink="purpose">Purpose</h3>
<p>This file configures a Grunt task called &quot;copy&quot;.</p>
<p>Copy files and/or folders from your <code>assets/</code> directory into the web root (<code>.tmp/public</code>) so they can be served via HTTP, and also for further pre-processing by other Grunt tasks.</p>
<h4 id="normal-usage-sails-lift-" permalink="normal-usage-(sails-lift)">Normal usage (<code>sails lift</code>)</h4>
<p>Copies all directories and files (except CoffeeScript and LESS) from the <code>assets/</code> folder into the web root -- conventionally a hidden directory located <code>.tmp/public</code>.</p>
<h4 id="via-the-build-tasklist-sails-www-" permalink="via-the-build-tasklist-(sails-www)">Via the <code>build</code> tasklist (<code>sails www</code>)</h4>
<p>Copies all directories and files from the .tmp/public directory into a www directory.</p>
<h3 id="usage" permalink="usage">Usage</h3>
<p>For additional usage documentation, see <a href="https://npmjs.com/package/grunt-contrib-copy" target="_blank"><code>grunt-contrib-copy</code></a>.</p>
<docmeta name="displayName" value="copy.js">
</docmeta>