<h1 id="tasks-config-cssmin-js">tasks/config/cssmin.js</h1>
<h3 id="purpose" permalink="purpose">Purpose</h3>
<p>This file configures a Grunt task called &quot;cssmin&quot;.</p>
<p>Minify the intermediate, concatenated CSS stylesheet which was prepared by the <code>concat</code> task at <code>.tmp/public/concat/production.css</code>.  Together with the <code>concat</code> task, this is the final step that minifies
all CSS files from <code>assets/styles/</code> (and potentially your LESS importer file from <code>assets/styles/importer.less</code>).</p>
<h3 id="usage" permalink="usage">Usage</h3>
<p>For additional usage documentation, see <a href="https://npmjs.com/package/grunt-contrib-cssmin" target="_blank"><code>grunt-contrib-cssmin</code></a>.</p>
<docmeta name="displayName" value="cssmin.js">
</docmeta>