<h1 id="tasks-config-sync-js">tasks/config/sync.js</h1>
<h3 id="purpose" permalink="purpose">Purpose</h3>
<p>This file configures a Grunt task called &quot;sync&quot;.</p>
<p>This task synchronizes one directory with another (like rsync).  In the default Sails asset pipeline, it plays very similar role to <code>grunt-contrib-copy</code>, but copies only those files that have actually changed since the last time the task was run.</p>
<p>Specifically, its job is to synchronize files from the <code>assets/</code> folder to <code>.tmp/public</code>, smashing anything that&apos;s already there.</p>
<h3 id="usage" permalink="usage">Usage</h3>
<p>For additional usage documentation, see <a href="https://www.npmjs.com/package/grunt-sync" target="_blank"><code>grunt-sync</code></a>.</p>
<docmeta name="displayName" value="sync.js">
</docmeta>