<h1 id="tasks-config-uglify-js">tasks/config/uglify.js</h1>
<h3 id="purpose" permalink="purpose">Purpose</h3>
<p>This file configures a Grunt task called &quot;uglify&quot;.</p>
<p>Its job is to <a href="https://en.wikipedia.org/wiki/Minification_(programming" target="_blank">minify</a>) client-side JavaScript files.  Internally, it uses <a href="https://www.npmjs.com/package/uglifyjs" target="_blank">UglifyJS</a>.</p>
<h3 id="usage" permalink="usage">Usage</h3>
<p>For additional usage documentation, see <a href="https://npmjs.com/package/grunt-contrib-uglify" target="_blank"><code>grunt-contrib-uglify</code></a>.</p>
<docmeta name="displayName" value="uglify.js">
</docmeta>