<h1 id="tasks-config-watch-js">tasks/config/watch.js</h1>
<h3 id="purpose" permalink="purpose">Purpose</h3>
<p>This file configures a Grunt task called &quot;watch&quot;.</p>
<p>It runs predefined tasks whenever watched file patterns are added, changed or deleted.</p>
<p>Specifically, this watches for changes to:</p>
<ul>
<li>files in the <code>assets</code> folder</li>
<li>the <code>tasks/pipeline.js</code> file</li>
</ul>
<p>...and then re-runs the appropriate tasks.</p>
<h3 id="usage" permalink="usage">Usage</h3>
<p>For additional usage documentation, see <a href="https://npmjs.com/package/grunt-contrib-watch" target="_blank"><code>grunt-contrib-watch</code></a>.</p>
<docmeta name="displayName" value="watch.js">
</docmeta>