<h1 id="res-clearcookie-">res.clearCookie()</h1>
<p>Clears cookie (<code>name</code>) in the response.</p>
<h3 id="usage" permalink="usage">Usage</h3>
<pre><code class="javascript">res.clearCookie(name [,options]);
</code></pre><!-- __LANG=%%__ -->
<h3 id="details" permalink="details">Details</h3>
<p>The path option defaults to &quot;/&quot;.</p>
<h3 id="example" permalink="example">Example</h3>
<pre><code class="javascript">res.cookie(&apos;name&apos;, &apos;tobi&apos;, { path: &apos;/admin&apos; });
res.clearCookie(&apos;name&apos;, { path: &apos;/admin&apos; });
</code></pre><!-- __LANG=%%__ -->
<p><docmeta name="displayName" value="res.clearCookie()"></docmeta></p>
<docmeta name="pageType" value="method">
</docmeta>