<h1 id="res-location-">res.location()</h1>
<p>Sets the &quot;Location&quot; response header to the specified URL expression (<code>url</code>).</p>
<h3 id="usage" permalink="usage">Usage</h3>
<p>res.location(url);</p>
<h3 id="example" permalink="example">Example</h3>
<pre><code class="javascript">res.location(&apos;/foo/bar&apos;);
res.location(&apos;foo/bar&apos;);
res.location(&apos;http://example.com&apos;);
res.location(&apos;../login&apos;);
res.location(&apos;back&apos;);
</code></pre><!-- __LANG=%%__ -->
<h3 id="notes" permalink="notes">Notes</h3>
<blockquote>
<ul>
<li>You can use the same kind of URL expressions as in res.redirect().</li>
</ul>
</blockquote>
<p><docmeta name="displayName" value="res.location()"></docmeta></p>
<docmeta name="pageType" value="method">
</docmeta>