<h1 id="api-responses">api/responses</h1>
<h3 id="purpose" permalink="purpose">Purpose</h3>
<p>This folder holds the logic for issuing server responses to your clients.</p>
<p>When you generate a new Sails project, we include some of the more common ones for you. Feel free to edit them to suit your needs.  You can also create a custom response using our <code>sails-generate-custom-response</code> generator.</p>
<p>See the Response section of Reference Documentation for more info.</p>
<docmeta name="displayName" value="responses">

</docmeta>