<h1 id="-join-">.join()</h1>
<p>Subscribe a socket to a room.</p>
<pre><code class="javascript">sails.sockets.join(socket, roomName);
</code></pre><!-- __LANG=%%__ -->
<p><em>Or:</em></p>
<ul>
<li><code>sails.sockets.join(socket, roomName, cb);</code></li>
</ul>
<h3 id="usage" permalink="usage">Usage</h3>
<table>
<thead>
<tr>
<th></th>
<th>Argument</th>
<th style="text-align:center">Type</th>
<th style="text-align:left">Details</th>
</tr>
</thead>
<tbody>
<tr>
<td>1</td>
<td><code>socket</code></td>
<td style="text-align:center"><bubble type="string" class="colors"><span is="bubble-heart"></span></bubble>, <bubble type="req" class="colors"><span is="bubble-heart"></span></bubble></td>
<td style="text-align:left">The socket to be subscribed.  May be specified by the socket&apos;s id or an incoming socket request (<code>req</code>).</td>
</tr>
<tr>
<td>2</td>
<td><code>roomName</code></td>
<td style="text-align:center"><bubble type="string" class="colors"><span is="bubble-heart"></span></bubble></td>
<td style="text-align:left">The name of the room to which the socket will be subscribed.  If the room does not exist yet, it will be created.</td>
</tr>
<tr>
<td>3</td>
<td><em><code>cb</code></em></td>
<td style="text-align:center"><bubble type="function?" class="colors"><span is="bubble-heart"></span></bubble></td>
<td style="text-align:left">An optional callback which will be called when the operation is complete on the current server (see notes below for more information), or if fatal errors were encountered.  In the case of errors, it will be called with a single argument (<code>err</code>).</td>
</tr>
</tbody>
</table>
<h3 id="example" permalink="example">Example</h3>
<p>In a controller action:</p>
<pre><code class="javascript">subscribeToFunRoom: function(req, res) {
  if (!req.isSocket) {
    return res.badRequest();
  }

  var roomName = req.param(&apos;roomName&apos;);
  sails.sockets.join(req, roomName, function(err) {
    if (err) {
      return res.serverError(err);
    }

    return res.json({
      message: &apos;Subscribed to a fun room called &apos;+roomName+&apos;!&apos;
    });
  });
}
</code></pre><!-- __LANG=%%__ -->
<h3 id="notes" permalink="notes">Notes</h3>
<blockquote>
<ul>
<li><code>sails.sockets.join()</code> is more or less equivalent to the functionality of <code>.join()</code> in Socket.io, but with additional built-in support for multi-server deployments.  With <a href="/documentation/concepts/deployment/scaling">recommended production settings</a>, <code>sails.sockets.join()</code> works as documented no matter what server the code happens to be running on, or the server the target socket is connected to.</li>
<li>In a multi-server environment, when calling <code>.join()</code> with a socket ID argument, the callback function (<code>cb</code>) will be executed when the <code>.join()</code> call completes <em>on the current server</em>.  This does not guarantee that other servers in the cluster have already finished running the operation.</li>
<li>Every socket is automatically subscribed to a room with its ID as the name, allowing direct messaging to a socket via <a href="/documentation/reference/web-sockets/sails-sockets/sails-sockets-broadcast"><code>sails.sockets.broadcast()</code></a></li>
<li>Be sure and check <code>req.isSocket === true</code> before passing in <code>req</code> as the target socket.  For that to work, the provided <code>req</code> must be from a socket request, not just any old HTTP request.</li>
</ul>
</blockquote>
<p><docmeta name="displayName" value=".join()"></docmeta></p>
<docmeta name="pageType" value="method">
</docmeta>