<h1 id="sails-sockets-id-">sails.sockets.id()</h1>
<p>This method is an alias for <a href="/documentation/reference/websockets/sails.sockets/sails.sockets.rooms.html">sails.sockets.getId()</a> deprecated in Sails v0.12.  Please see the <a href="/documentation/concepts/upgrading/to-v-0-12">v0.12 migration guide</a> for more information.</p>
<p><docmeta name="displayName" value="sails.sockets.id()"></docmeta></p>
<docmeta name="isDeprecated" value="true">
</docmeta>