<h1 id="api-controllers">api/controllers</h1>
<h3 id="purpose" permalink="purpose">Purpose</h3>
<p>This is the directory that holds your controllers.  In Sails, controllers are javascript files that contain logic for interacting with models and rendering appropriate views to the client.</p>
<p>When you call <code>sails generate api cats</code> via the command line from inside your project&apos;s root directory, Sails will generate the file <code>api/controllers/CatsController.js</code> along with a matching model.</p>
<docmeta name="displayName" value="controllers">


</docmeta>