<h1 id="blueprints">Blueprints</h1>
<h3 id="overview" permalink="overview">Overview</h3>
<p>Like any good web framework, Sails aims to reduce both the amount of code you write and the time it takes to get a functional app up and running.  <em>Blueprints</em> are Sails&#x2019; way of quickly generating API <a href="/documentation/concepts/routes">routes</a> and <a href="/documentation/concepts/controllers#?actions">actions</a> based on your application design.</p>
<p>Together, <a href="/documentation/concepts/blueprints/blueprint-routes">blueprint routes</a> and <a href="/documentation/concepts/blueprints/blueprint-actions">blueprint actions</a> constitute the <strong>blueprint API</strong>, the built-in logic that powers the <a href="http://en.wikipedia.org/wiki/Representational_state_transfer" target="_blank">RESTful JSON API</a> you get every time you create a model and controller.</p>
<p>For example, if you create a <code>User.js</code> model and <code>UserController.js</code> controller file in your project, then with blueprints enabled you will be able to immediately visit <code>/user/create?name=joe</code> to create a user, and visit <code>/user</code> to see an array of your app&apos;s users.  All without writing a single line of code!</p>
<p>Blueprints are great for prototyping, but they are also a powerful tool in production due to their ability to be overridden, protected, extended or disabled entirely.</p>
<docmeta name="displayName" value="Blueprints">
</docmeta>