<h1 id="req-cookies">req.cookies</h1>
<p>An object containing all of the <a href="https://github.com/balderdashy/sails-docs/blob/master/PAGE_NEEDED.md" target="_blank"><strong>unsigned cookies</strong></a> from this request (<code>req</code>).</p>
<h3 id="usage" permalink="usage">Usage</h3>
<pre><code class="javascript">req.cookies;
</code></pre><!-- __LANG=%%__ -->
<h3 id="example" permalink="example">Example</h3>
<p>Assuming the request contained a cookie named &quot;chocolatechip&quot; with value &quot;Yummy:</p>
<pre><code class="javascript">req.cookies.chocolatechip;
// &quot;Yummy&quot;
</code></pre><!-- __LANG=%%__ -->
<p><docmeta name="displayName" value="req.cookies"></docmeta></p>
<docmeta name="pageType" value="property">
</docmeta>