<h1 id="req-method">req.method</h1>
<p>The request method (aka &quot;verb&quot;.)</p>
<h3 id="usage" permalink="usage">Usage</h3>
<pre><code class="javascript">req.method;
</code></pre><!-- __LANG=%%__ -->
<h3 id="example" permalink="example">Example</h3>
<p>If a client sends a POST request to <code>/product</code>:</p>
<pre><code class="javascript">req.method;
// -&gt; &quot;POST&quot;
</code></pre><!-- __LANG=%%__ -->
<h3 id="notes" permalink="notes">Notes</h3>
<blockquote>
<ul>
<li>All requests to a Sails server have a &quot;method&quot;, even via WebSockets (this is thanks to the request interpreter)</li>
</ul>
</blockquote>
<p><docmeta name="displayName" value="req.method"></docmeta></p>
<docmeta name="pageType" value="property">
</docmeta>