<h1 id="req-protocol">req.protocol</h1>
<p>The protocol used to send this request (<code>req</code>).</p>
<h3 id="usage" permalink="usage">Usage</h3>
<pre><code class="javascript">req.protocol;
</code></pre><!-- __LANG=%%__ -->
<h3 id="example" permalink="example">Example</h3>
<pre><code class="javascript">switch (req.protocol) {
  case &apos;http&apos;:
    // this is an HTTP request
    break;
  case &apos;https&apos;:
    // this is a secure HTTPS request
    break;
}
</code></pre><!-- __LANG=%%__ -->
<p><docmeta name="displayName" value="req.protocol"></docmeta></p>
<docmeta name="pageType" value="property">
</docmeta>