<h1 id="req-host">req.host</h1>
<p>The hostname of this request, without the port number, as specified by its &quot;Host&quot; header.</p>
<h3 id="usage" permalink="usage">Usage</h3>
<pre><code class="javascript">req.host;
</code></pre><!-- __LANG=%%__ -->
<h3 id="example" permalink="example">Example</h3>
<p>If this request&apos;s &quot;Host&quot; header was: &quot;ww3.staging.ibm.com:1492&quot;:</p>
<pre><code class="javascript">req.host;
// -&gt; &quot;ww3.staging.ibm.com&quot;
</code></pre><!-- __LANG=%%__ -->
<p><docmeta name="displayName" value="req.host"></docmeta></p>
<docmeta name="pageType" value="property">
</docmeta>