<h1 id="req-secure">req.secure</h1>
<p>Indicates whether or not the request was sent over a secure <a href="http://en.wikipedia.org/wiki/Transport_Layer_Security" target="_blank">TLS</a> connection (i.e. <code>https://</code> or <code>wss://</code>).</p>
<h3 id="usage" permalink="usage">Usage</h3>
<pre><code class="javascript">req.secure;
</code></pre><!-- __LANG=%%__ -->
<p><docmeta name="displayName" value="req.secure"></docmeta></p>
<docmeta name="pageType" value="property">
</docmeta>