<h1 id="req-subdomains">req.subdomains</h1>
<p>An array of all the subdomains in this request&apos;s URL.</p>
<h3 id="usage" permalink="usage">Usage</h3>
<pre><code class="javascript">req.subdomains;
</code></pre><!-- __LANG=%%__ -->
<h3 id="example" permalink="example">Example</h3>
<p>If the requested URL was &quot;<a href="https://ww3.staging.ibm.com" target="_blank">https://ww3.staging.ibm.com</a>&quot;:</p>
<pre><code class="javascript">req.subdomains;
// -&gt; [&apos;ww3&apos;, &apos;staging&apos;]
</code></pre><!-- __LANG=%%__ -->
<p><docmeta name="displayName" value="req.subdomains"></docmeta></p>
<docmeta name="pageType" value="property">
</docmeta>