<h1 id="req-params">req.params</h1>
<p>An object containing parameter values parsed from the URL path.</p>
<p>For example if you have the route <code>/user/:name</code>, then the &quot;name&quot; from the URL path wil be available as <code>req.params.name</code>.  This object defaults to <code>{}</code>.</p>
<h3 id="usage" permalink="usage">Usage</h3>
<pre><code class="javascript">req.params;
</code></pre><!-- __LANG=%%__ -->
<h3 id="notes" permalink="notes">Notes</h3>
<blockquote>
<ul>
<li>When a route address is defined using a regular expression, each capture group match from the regex is available as <code>req.params[0]</code>, <code>req.params[1]</code>, etc.This strategy is also applied to unnamed wild-card matches in string routes such as <code>/file/*</code>.</li>
</ul>
</blockquote>
<p><docmeta name="displayName" value="req.params"></docmeta></p>
<docmeta name="pageType" value="property">
</docmeta>