<h1 id="req-query">req.query</h1>
<p>A dictionary containing the parsed query-string, defaulting to <code>{}</code>.</p>
<h3 id="usage" permalink="usage">Usage</h3>
<pre><code class="javascript">req.query;
</code></pre><!-- __LANG=%%__ -->
<h3 id="example" permalink="example">Example</h3>
<p>If the request is <code>GET /search?q=mudslide</code>:</p>
<pre><code class="javascript">req.query.q
// -&gt; &quot;mudslide&quot;
</code></pre><!-- __LANG=%%__ -->
<p><docmeta name="displayName" value="req.query"></docmeta></p>
<docmeta name="pageType" value="property">
</docmeta>