<h1 id="-toobject-">.toObject()</h1>
<h3 id="purpose" permalink="purpose">Purpose</h3>
<p>The toObject method returns a cloned model instance (record) but stripped of all instance methods.</p>
<h3 id="overview" permalink="overview">Overview</h3>
<h4 id="return-value" permalink="return-value">Return Value</h4>
<table>
<thead>
<tr>
<th></th>
<th>Description</th>
<th>Possible Data Types</th>
</tr>
</thead>
<tbody>
<tr>
<td></td>
<td>Cloned Record</td>
<td><code>{ }</code></td>
</tr>
</tbody>
</table>
<h3 id="example-usage" permalink="example-usage">Example Usage</h3>
<p><em>See usage in .toJSON()</em></p>
<h3 id="notes" permalink="notes">Notes</h3>
<blockquote>
<p>You will only want to use .toObject when overriding the default .toJSON instance method.</p>
</blockquote>
<p><docmeta name="displayName" value=".toObject()"></docmeta></p>
<docmeta name="pageType" value="method">
</docmeta>