<h1 id="websockets">WebSockets</h1>
<p>For a full discussion of realtime concepts in Sails, see the <a href="/documentation/concepts/realtime">Realtime concept documentation</a>.</p>
<p>For information on client-to-server socket communication, see the <a href="/documentation/reference/web-sockets/socket-client">Socket Client (sails.io.js)</a>.</p>
<p>For information on server-to-client socket communication, see the <a href="/documentation/reference/web-sockets/sails-sockets">sails.sockets</a>.</p>
<p>For information on using realtime messages to communicate changes in Sails models, see the <a href="/documentation/reference/web-sockets/resourceful-pub-sub">Resourceful PubSub reference</a>.</p>
<p>Sails uses <a href="http://socket.io" target="_blank">socket.io</a> as the underlying engine for realtime communication.  Every Sails app has a socket.io instance available as <code>sails.io</code>.  However, most <code>socket.io</code> functionality is wrapped for convenience (and safety) by a <code>sails.sockets</code> method.</p>
<docmeta name="displayName" value="WebSockets">

</docmeta>