<h1 id="assets-images">assets/images</h1>
<h3 id="purpose" permalink="purpose">Purpose</h3>
<p>This is where you should put image files that need to be statically hosted by your app.</p>
<p>Upon lifting your app, an image called <code>omgCat.jpg</code> could be found at <code>http://localhost:1337/images/omgCat.jpg</code></p>
<docmeta name="displayName" value="images">

</docmeta>