<h1 id="api-services-gitkeep">api/services/.gitkeep</h1>
<h3 id="purpose" permalink="purpose">Purpose</h3>
<p>Ignore this file.  It only exists because <code>git</code> refuses to push empty directories to a remote server.  <code>.gitkeep</code> is an unofficial convention that has emerged as a workaround for people who don&apos;t discriminate against empty directories.</p>
<docmeta name="displayName" value=".gitkeep">
</docmeta>