<h1 id="-gitignore">.gitignore</h1>
<h3 id="purpose" permalink="purpose">Purpose</h3>
<p>This file is only relevant if you are using git.</p>
<p>It informs <code>git</code> of any files that you don&apos;t want <code>pushed</code> to the remote server.</p>
<p>Files which match the splat patterns seen in the code below will be ignored by git.  This keeps random crap and and sensitive credentials from being uploaded to  your repository.  It allows you to configure your app for your machine without accidentally committing settings which will smash the local settings of other developers on your team.</p>
<p>Some reasonable defaults are included, but, of course, you should modify/extend/prune to fit your needs!</p>
<p><a href="https://help.github.com/articles/ignoring-files" target="_blank">Read more about .gitignore</a></p>
<docmeta name="displayName" value=".gitignore">
</docmeta>