<h1 id="gruntfile-js">Gruntfile.js</h1>
<h3 id="purpose" permalink="purpose">Purpose</h3>
<p>Sails uses <a href="http://gruntjs.com" target="_blank">Grunt</a> for asset management. This file contains the entry point for the default asset pipeline in Sails; that is, the code that does stuff like compiling LESS stylesheets, minifying scripts for production, and precompiling and injecting client-side templates.</p>
<p>Sails&apos; integration with Grunt is fully customizable, but for most use cases, this file (<code>Gruntfile.js</code>) should remain unchanged.  Instead, you can install Grunt plugins or add your own custom logic as new files in the <a href="./tasks"><code>tasks/</code></a> folder.</p>
<blockquote>
<ul>
<li>To learn more about working with static assets in Sails, check out the <a href="/documentation/concepts/assets">conceptual documentation on assets</a>.</li>
<li>For a broader introduction to Grunt tasks in general, see <a href="http://gruntjs.com/configuring-tasks" target="_blank">Grunt&apos;s docs on configuring tasks</a>.</li>
</ul>
</blockquote>
<docmeta name="displayName" value="Gruntfile.js">
</docmeta>