<h1 id="readme">README</h1>
<h3 id="purpose" permalink="purpose">Purpose</h3>
<p>This is a generic README that you can edit to describe your app.</p>
<docmeta name="displayName" value="README.md">

<pre><code class="nohighlight"># myApp

a [Sails](http://sailsjs.com) application
</code></pre><!-- __LANG=%%__ -->
</docmeta>