<h1 id="-sailsrc">.sailsrc</h1>
<h3 id="purpose" permalink="purpose">Purpose</h3>
<p>This file is useful for setting configuration for ALL Sails apps on a computer.  You can also use it to extend the functionality of the Sails CLI tool.</p>
<p><a href="/documentation/reference/Configuration/Configuration.html">Reference docs for .sailsrc</a></p>
<docmeta name="displayName" value=".sailsrc">

<pre><code class="nohighlight">{
  &quot;generators&quot;: {
    &quot;modules&quot;: {}
  }
}
</code></pre><!-- __LANG=%%__ -->
</docmeta>