<h1 id="uploading-to-amazon-s3">Uploading to Amazon S3</h1>
<blockquote>
<p>Please note that your Amazon S3 bucket must be created in the &apos;US Standard&apos; region. 
If you fail to do so, you will get a &apos;TypeError(&apos;Uncaught, unspecified &quot;error&quot; event.&apos;).</p>
</blockquote>
<p>With Sails, you can stream file uploads to Amazon S3 with very little additional configuration.</p>
<p>First install the <a href="https://github.com/balderdashy/skipper-s3" target="_blank">S3 Skipper adapter</a>:</p>
<pre><code class="bash">$ npm install skipper-s3 --save
</code></pre><!-- __LANG=%%__ -->
<p>Then use it in one of your controllers:</p>
<pre><code class="javascript">uploadFile: function (req, res) {
    req.file(&apos;avatar&apos;).upload({
      adapter: require(&apos;skipper-s3&apos;),
      key: &apos;S3 Key&apos;,
      secret: &apos;S3 Secret&apos;,
      bucket: &apos;Bucket Name&apos;
    }, function (err, filesUploaded) {
      if (err) return res.negotiate(err);
      return res.ok({
        files: filesUploaded,
        textParams: req.params.all()
      });
    });
  }
</code></pre><!-- __LANG=%%__ -->
<docmeta name="displayName" value="Uploading to S3">
</docmeta>