<h1 id="views">views</h1>
<h3 id="purpose" permalink="purpose">Purpose</h3>
<p>This is the directory that holds all of your custom views.</p>
<p>To create a custom view, create a new directory inside of this then create a new .ejs file.  In order for it to be rendered by a client, you must either set up a route in <code>config/routes.js</code> or use the <code>res.view()</code> method inside of a custom controller action.</p>
<docmeta name="displayName" value="views">

</docmeta>