<h1 id="api-hooks-">api/hooks/</h1>
<h3 id="purpose" permalink="purpose">Purpose</h3>
<p>This is the folder where your project&apos;s hooks live. Hooks are Node modules that add functionality to the Sails core. For more information, see <a href="/documentation/concepts/extending-sails/hooks">Concepts &gt; Extending Sails &gt; Hooks</a>.</p>
<docmeta name="displayName" value="hooks">
</docmeta>