<h1 id="-limit-integer-">.limit(<code>integer</code>)</h1>
<h3 id="purpose" permalink="purpose">Purpose</h3>
<h3 id="parameters" permalink="parameters">Parameters</h3>
<table>
<thead>
<tr>
<th></th>
<th>Description</th>
<th>Accepted Data Types</th>
<th>Required ?</th>
</tr>
</thead>
<tbody>
<tr>
<td>1</td>
<td>Number to Return</td>
<td><code>int</code></td>
<td>Yes</td>
</tr>
</tbody>
</table>
<h3 id="example-usage" permalink="example-usage">Example Usage</h3>
<pre><code class="javascript">var myQuery = User.find();
myQuery.limit(12);

myQuery.exec(function callBack(err,results){
    console.log(results)
    });
</code></pre><!-- __LANG=%%__ -->
<h3 id="notes" permalink="notes">Notes</h3>
<blockquote>
<p>The .find() method returns a chainable object if you don&apos;t supply a callback.  This method can be chained to .find() to further filter your results.</p>
</blockquote>
<p><docmeta name="displayName" value=".limit()"></docmeta></p>
<docmeta name="pageType" value="method">
</docmeta>