<h1 id="security">Security</h1>
<h3 id="overview" permalink="overview">Overview</h3>
<p>Sails and Express provide built-in, easily configurable protection against most known types of web-application-level attacks.</p>
<blockquote>
<p><strong>Note</strong>: If you believe you have found a security vulnerability in Sails, please refer to our <a href="https://github.com/balderdashy/sails-docs/blob/master/security/SAILS-SECURITY-POLICY.md" target="_blank">security policy</a> for instructions for reporting it.</p>
</blockquote>
<docmeta name="displayName" value="Security">

</docmeta>