<h1 id="xss">XSS</h1>
<p>Cross-site scripting (XSS) is a type of attack in which a malicious agent manages to inject client-side JavaScript into your website, so that it runs in the trusted environment of your users&apos; browsers.</p>
<h3 id="additional-resources" permalink="additional-resources">Additional Resources</h3>
<ul>
<li><a href="https://www.owasp.org/index.php/XSS" target="_blank">XSS (OWasp)</a></li>
<li><a href="https://www.owasp.org/index.php/XSS_Prevention_Cheat_Sheet" target="_blank">XSS Prevention Cheatsheet</a></li>
</ul>
<docmeta name="displayName" value="XSS">
</docmeta>