<h1 id="assets-js-dependencies-sails-io-js">assets/js/dependencies/sails.io.js</h1>
<h3 id="purpose" permalink="purpose">Purpose</h3>
<p>This file adds a few custom methods to socket.io which provide the &quot;built-in&quot; websockets functionality for Sails.</p>
<p>Specifically, those methods allow you to send and receive Socket.IO messages to &amp; from Sails by simulating a REST client interface on top of Socket.IO. It models it&apos;s API after the $.ajax pattern from jQuery which you might be familiar with.</p>
<docmeta name="displayName" value="sails.io.js">

</docmeta>