<h1 id="available-generators">Available Generators</h1>
<h3 id="core-generators" permalink="core-generators">Core Generators</h3>
<blockquote>
<p>These generators are built in to Sails by default.</p>
</blockquote>
<table>
<thead>
<tr>
<th>Repo</th>
<th>Latest Stable Version</th>
</tr>
</thead>
<tbody>
<tr>
<td><a href="https://github.com/balderdashy/sails-generate-generator" target="_blank">sails-generate-generator</a></td>
<td><a href="http://badge.fury.io/js/sails-generate-generator" target="_blank"><img src="https://badge.fury.io/js/sails-generate-generator.png" alt="NPM version"></a></td>
</tr>
<tr>
<td><a href="https://github.com/balderdashy/sails-generate-new" target="_blank">sails-generate-new</a></td>
<td><a href="http://badge.fury.io/js/sails-generate-new" target="_blank"><img src="https://badge.fury.io/js/sails-generate-new.png" alt="NPM version"></a></td>
</tr>
<tr>
<td><a href="https://github.com/balderdashy/sails-generate-controller" target="_blank">sails-generate-controller</a></td>
<td><a href="http://badge.fury.io/js/sails-generate-controller" target="_blank"><img src="https://badge.fury.io/js/sails-generate-controller.png" alt="NPM version"></a></td>
</tr>
<tr>
<td><a href="https://github.com/balderdashy/sails-generate-frontend" target="_blank">sails-generate-frontend</a></td>
<td><a href="http://badge.fury.io/js/sails-generate-frontend" target="_blank"><img src="https://badge.fury.io/js/sails-generate-frontend.png" alt="NPM version"></a></td>
</tr>
<tr>
<td><a href="https://github.com/balderdashy/sails-generate-backend" target="_blank">sails-generate-backend</a></td>
<td><a href="https://badge.fury.io/js/sails-generate-backend" target="_blank"><img src="https://badge.fury.io/js/sails-generate-backend.png" alt="npm version"></a></td>
</tr>
<tr>
<td><a href="https://github.com/balderdashy/sails-generate-views" target="_blank">sails-generate-views</a></td>
<td><a href="https://badge.fury.io/js/sails-generate-views" target="_blank"><img src="https://badge.fury.io/js/sails-generate-views.png" alt="npm version"></a></td>
</tr>
<tr>
<td><a href="https://github.com/balderdashy/sails-generate-adapter" target="_blank">sails-generate-adapter</a></td>
<td><a href="https://badge.fury.io/js/sails-generate-adapter" target="_blank"><img src="https://badge.fury.io/js/sails-generate-adapter.png" alt="npm version"></a></td>
</tr>
<tr>
<td><a href="https://github.com/balderdashy/sails-generate-model" target="_blank">sails-generate-model</a></td>
<td><a href="https://badge.fury.io/js/sails-generate-model" target="_blank"><img src="https://badge.fury.io/js/sails-generate-model.png" alt="npm version"></a></td>
</tr>
<tr>
<td><a href="https://github.com/balderdashy/sails-generate-api" target="_blank">sails-generate-api</a></td>
<td><a href="https://badge.fury.io/js/sails-generate-api" target="_blank"><img src="https://badge.fury.io/js/sails-generate-api.png" alt="npm version"></a></td>
</tr>
<tr>
<td><a href="https://github.com/balderdashy/sails-generate-test" target="_blank">sails-generate-test</a></td>
<td><a href="https://badge.fury.io/js/sails-generate-test" target="_blank"><img src="https://badge.fury.io/js/sails-generate-test.png" alt="npm version"></a></td>
</tr>
<tr>
<td><a href="https://github.com/balderdashy/sails-generate-hook" target="_blank">sails-generate-hook</a></td>
<td><a href="https://badge.fury.io/js/sails-generate-hook" target="_blank"><img src="https://badge.fury.io/js/sails-generate-hook.png" alt="npm version"></a></td>
</tr>
</tbody>
</table>
<h3 id="community-generators" permalink="community-generators">Community Generators</h3>
<p>There are over 100 community-supported generators <a href="https://www.npmjs.com/search?q=sails+generate" target="_blank">available on NPM</a>:</p>
<ul>
<li><a href="https://github.com/bhaskarmelkani/sails-generate-views-hbs" target="_blank">sails-generate-views-hbs</a></li>
<li><a href="https://github.com/juliandavidmr/sails-inverse-model" target="_blank">sails-inverse-model</a></li>
<li><a href="https://github.com/Karnith/sails-generate-new-gulp" target="_blank">sails-generate-new-gulp</a></li>
<li><a href="https://github.com/jaumard/sails-generate-archive" target="_blank">sails-generate-archive</a></li>
<li><a href="https://github.com/irlnathan/sails-generate-scaffold" target="_blank">sails-generate-scaffold</a></li>
<li><a href="https://github.com/balderdashy/sails-generate-directive" target="_blank">sails-generate-directive</a></li>
<li><a href="https://github.com/smies/sails-generate-bower" target="_blank">sails-generate-bower</a></li>
<li><a href="https://github.com/Karnith/sails-generate-angular-gulp" target="_blank">sails-generate-angular-gulp</a> </li>
<li><a href="https://github.com/mphasize/sails-generate-ember-blueprints" target="_blank">sails-generate-ember-blueprints</a></li>
<li>And <a href="https://www.npmjs.com/search?q=sails+generate" target="_blank">many more</a>...</li>
</ul>
<docmeta name="displayName" value="Available Generators">
</docmeta>