<h2 id="getting-help-on-irc" permalink="getting-help-on-irc">Getting help on IRC</h2>
<h3 id="-sailsjs-on-irc-freenode-net" permalink="#sailsjs-on-ircfreenodenet"><code>#sailsjs</code> on irc.freenode.net</h3>
<p>If you are looking for a quick answer and you can&apos;t find what you&apos;re looking for in the docs, come ask in our IRC chat room.  While there is typically somebody there who can answer your question, please remember that #sailsjs is 100% community maintained. That means that help is given at the discretion of the community.  For best results, be polite and to the point.</p>
<p>If you&apos;ve never been on IRC, now is the perfect time.  Getting started is easy.]</p>
<h2 id="grab-an-irc-client" permalink="grab-an-irc-client">Grab An IRC Client</h2>
<p>Below you&apos;ll find some of the more popular IRC Clients.</p>
<h3 id="linux" permalink="linux">Linux</h3>
<ul>
<li><a href="http://xchat.org" target="_blank">xChat</a></li>
<li><a href="http://irssi.org" target="_blank">irssi</a></li>
<li><a href="http://www.weechat.org" target="_blank">weeChat</a></li>
</ul>
<h4 id="using-apt-package-manager-for-ubuntu-debian" permalink="using-apt-package-manager-for-ubuntu/debian">Using apt package manager for Ubuntu/Debian</h4>
<pre><code class="nohighlight">sudo apt-get install weechat
</code></pre><!-- __LANG=%%__ -->
<h3 id="osx" permalink="osx">OSX</h3>
<ul>
<li><a href="http://irssi.org" target="_blank">irssi</a></li>
</ul>
<pre><code class="nohighlight">sudo steveJobsPM --prettyPlease install -m &apos;is this okay?&apos; irssi
</code></pre><!-- __LANG=%%__ -->
<h3 id="windows" permalink="windows">Windows</h3>
<ul>
<li><a href="http://xchat.org" target="_blank">xChat</a></li>
<li><a href="http://www.hydrairc.com/content/downloads" target="_blank">hydra IRC</a></li>
</ul>
<h2 id="setting-up-your-client" permalink="setting-up-your-client">Setting Up Your Client</h2>
<h3 id="registering-on-freenode" permalink="registering-on-freenode">Registering On Freenode</h3>
<p>Our chat room is on the Freenode network.  Freenode does not require that you register your <code>nick</code> name.  You do have the option to though.  If you want to do this, read about how to do it <a href="https://freenode.net/faq.shtml#registering" target="_blank">on the freenode website</a></p>
<h3 id="getting-on-freenode" permalink="getting-on-freenode">Getting on Freenode</h3>
<p>Each IRC Client is a little different to configure.  All of the ones we have recommended have very straight forward configuration process.  If your client provides a list of available servers, look for the one called Freenode.</p>
<p>Make sure to put in a <code>nick</code> to go by.</p>
<p>Upon connecting to the Freenode network, join us by typing <code>/join #sailsjs</code>.</p>
<p>If you registered a nick, you can identify yourself with <code>/msg nickserv identify &lt;password&gt;</code></p>
<docmeta name="displayName" value="#sailsjs on IRC">
</docmeta>